*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}
#wrapper{
  width: 80vw;
  margin: 5em auto;
}
.button{

}

.lobster-title{
  font-family: 'Lobster', cursive;
}
.roboto-display{
  font-family: 'Roboto Slab', serif;
}

a.buttona{
  text-decoration: none;
  color: #789e4f;
}
a .button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bed09f;
  border: 0.2em solid #789e4f;
  padding: 0.7em;
  width: 10em;
  border-radius: 1em;
  text-transform: uppercase;
}
.logo{
  margin-top: 1.5em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img{
  height: 15em;
  width: auto;
}
h1{
  text-align: center;
  margin: 0.5em;
  color: #e38003;
  font-size: 1.7em;
}
h2{
  text-align: center;
  color: #e38003;
  font-size: 1.2em;
  margin: 0.5em;
}
.color{
  height: 9em;
  width: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colorwrapper{
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.c1{
  background-color: #fee332;
}
.c2{
  background-color: #c17a05;
}
.c3{
  background-color: #e38003;
}
.c4{
  background-color: #789e4f
}
.c5{
  background-color: #bed09f;
}
.c6{
  background-color: #d9b01d;
}
.c7{
  background-color: #855505;
}
.c8{
  background-color: #b26403;
}
.c9{
  background-color: #557037;
}
.c10{
  background-color: #789e4f;
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #bed09f;
  bottom: 0;
  color: #789e4f;
  height: 5em;
}

footer h1{
  font-size: 1.2em;
}
.footerwrapper{
  width: 90vw;
  display: flex;
  justify-content: center;
}
footer h1{
  margin: 0;
  color: #789e4f;
}
footer ul{
  list-style-type: none;
  margin-top: 0.5em;
}

footer ul li{
  display: inline;
  margin: 0 1em;
}


#KonoNav{
  margin-left: 70%;
}

#MainButton{
  width: 10em;
  height: 10em;
}
#MainButton img{
  width: 10em;
  height: 10em;
}

.SubButton{
  width: 5.5em;
  height: 5.5em;
  background-color: #789e4f;
  border-radius: 5em;
  border: 0.3em #557037 solid;
}
#HomeButton img{
  padding-left: 0.3em;
  padding-top: 0.2em;
  width: 5em;
  height: 5em;
}

#HomeButton{
  margin-right: 20em;
}

#EventButton img{
  padding-left: 0.7em;
  padding-top: 0.8em;
  width: 4.2em;
  height: 4.2em;
}

#UserButton img{
  padding-left: 1em;
  padding-top: 0.8em;
  width: 3.5em;
  height: 3.5em;
}
#library .menubutton{
  display: flex;
  align-items: center;
  flex-direction: column;
}
#library .menubutton button{
  font-family: 'Lobster', bold;
  color: #fdfdfd;
  font-size: 2em;
  background-color: #789e4f;
  border-color: #557037;
  border-width: 3px;
  width: 5em;
  height: 5em;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 1em;
}
#library .menubutton .b2{
  background-color: #e38003;
  border-color: #b26403;
}
#library .menubutton img{
  height: 13em;
  width: auto;
}
