*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}
header{
  z-index: 50023979283;
  background-color: #bed09f;
  color: #789e4f;
  height: 3em;
  font-family: 'Lobster', cursive;
  text-align: center;
  line-height: 3em;
  font-size: 1.4em;
}
#wrapper{
  width: 80vw;
  margin: 0 auto;
}
h1{
  text-align: center;
  margin: 0.5em;
  color: #e38003;
  font-size: 1.5em;
}
h2{
  text-align: center;
  color: #e38003;
  font-size: 1.2em;
  margin: 0.5em;
}
.color{
  height: 9em;
  width: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colorwrapper{
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.c1{
  background-color: #fee332;
}
.c2{
  background-color: #c17a05;
}
.c3{
  background-color: #e38003;
}
.c4{
  background-color: #789e4f
}
.c5{
  background-color: #bed09f;
}
.c6{
  background-color: #d9b01d;
}
.c7{
  background-color: #855505;
}
.c8{
  background-color: #b26403;
}
.c9{
  background-color: #557037;
}
.c10{
  background-color: #789e4f;
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #bed09f;
  bottom: 0;
  color: #789e4f;
  height: 5em;
}

footer h1{
  font-size: 1.2em;
}
.footerwrapper{
  width: 90vw;
  display: flex;
  justify-content: center;
}
footer h1{
  margin: 0;
  color: #789e4f;
}
footer ul{
  list-style-type: none;
  margin-top: 0.5em;
}

footer ul li{
  display: inline;
  margin: 0 1em;
}
